<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pascoapp.wba02_android">

    <!-- Parse Data permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="bbiWrAYIkXlZhvNDsnzAtUMABa90uhZYZYSiWA6O" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="CUDo0XrVZza3h2H9X706DuViTNZVz4vCrCDzU69j" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseCourseActivity" />
        <activity
            android:name=".ChooseTestActivity"
            android:label="@string/title_activity_choose_test"
            android:parentActivityName=".ChooseCourseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pascoapp.wba02_android.ChooseCourseActivity" />
        </activity>
        <activity
            android:name=".TakeTest.TakeTestActivity"
            android:label="@string/title_activity_take_test"
            android:parentActivityName=".ChooseTestActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pascoapp.wba02_android.ChooseTestActivity" />
        </activity>
    </application>

</manifest>
