<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pascoapp.wba02_android">

    <!-- Parse Data permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <!--Parse Notification Permissions-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
      GET_ACCOUNTS is only required for GCM on devices running Android lower than
      4.0.4. You may leave out this permission if you are targetting 4.0.4+.
    -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="com.pascoapp.wba02_android.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.pascoapp.wba02_android.permission.C2D_MESSAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="bbiWrAYIkXlZhvNDsnzAtUMABa90uhZYZYSiWA6O" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="CUDo0XrVZza3h2H9X706DuViTNZVz4vCrCDzU69j" />

        <activity
            android:name=".main.MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".takeTest.TakeTestActivity"
            android:label="@string/title_activity_take_test"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".main.ChooseCourseActivity"
            android:label="@string/title_activity_choose_course"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>

        <!-- Start here -->
        <activity
            android:name=".CheckCurrentUser"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".CheckCurrentUser"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CheckCurrentUser" />
        </activity>
        <activity
            android:name=".setup.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:parentActivityName=".registration.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pascoapp.wba02_android.registration.SignUpActivity" />
        </activity>
        <activity
            android:name=".AuthenticateUserActivity"
            android:label="@string/title_activity_authenticate_user"
            android:parentActivityName=".CheckCurrentUser"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CheckCurrentUser" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".registration.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".registration.RegistrationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pascoapp.wba02_android.registration.RegistrationActivity" />
        </activity>
        <activity
            android:name=".registration.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".registration.RegistrationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pascoapp.wba02_android.registration.RegistrationActivity" />
        </activity>
        <activity
            android:name=".setup.SetupWizardActivity"
            android:label="@string/title_activity_setup_wizard"
            android:parentActivityName=".setup.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".setup.WelcomeActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="97173c4f1f165015ebe011d8675802fe4095e090" />

        <activity
            android:name=".Inbox.MessageListActivity"
            android:label="@string/title_message_list"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".Inbox.MessageDetailActivity"
            android:label=""
            android:parentActivityName=".Inbox.MessageListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inbox.MessageListActivity" />
        </activity>

        <!--Parse PushNotification services and receivers-->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.pascoapp.wba02_android.Inbox.PascoPushBroadCastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.pascoapp.wba02_android" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/ic_push"/>
    </application>

</manifest>
